z-customer-service(
  distinguishChannel="{{true}}"
)
view.container
  //- banners
  swiper.banners-swiper(
    autoplay
    circular
    indicator-dots
    duration="500"
    interval="3000" 
    indicator-color="#999"
    indicator-active-color="#fff"
  )
    swiper-item.banners-swiper-item(
      wx:for="{{bannerList}}"
      wx:key="swiper"
      data-id="{{item.id}}"
    )
      image.swiper-image(
        src="{{item}}"
        data-item="{{item}}"
        bindtap="onBannerClick"
      )
  //- 商品列表
  z-goods-list-row(
    wx:if="{{goodsList}}"
    goodsList="{{goodsList}}"
    bind:onGoodClick="onGoodsRowClick"
    type="exclusiveForNewPeople"
  )
  view(
    wx:else
    class="goods-list-none"
  ) 活动正在筹划中