view.search-bar
  view.search-bar-content
    z-icon(
      type="search"
      size="20"
    )
    input.search-input(
      confirm-type="search"
      placeholder="搜索商品"
      bindconfirm="onConfirmClick"
    )